-- Add liked_by column to posts table
ALTER TABLE posts ADD COLUMN IF NOT EXISTS liked_by UUID[] DEFAULT '{}';

-- Add RLS policies for likes
CREATE POLICY IF NOT EXISTS \
Anyone
can
view
post
likes\
ON posts FOR SELECT
USING (true);

CREATE POLICY IF NOT EXISTS \Authenticated
users
can
update
likes\
ON posts FOR UPDATE
TO authenticated
USING (true)
WITH CHECK (true);
